.DS_Store
.DS_Store
rick-and-morty/.DS_Store
rick-and-morty.xcodeproj/.idea/misc.xml
rick-and-morty.xcodeproj/.idea/vcs.xml
rick-and-morty.xcodeproj/.idea/workspace.xml
rick-and-morty.xcodeproj/.idea/workspace.xml
rick-and-morty.xcodeproj/.idea/workspace.xml
